html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

body {
  background-color: #e5e5e5;
  color: #3c4858;
  margin: 0;
  font-size: 1rem;
  text-align: left;
}
